.App {
  font-family: Arial, sans-serif;
}

h1 {
  /* text-align: center; */
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(255, 225, 0);
}
hr{
  border-top: 1px solid rgb(116, 116, 116);
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
img{
  margin: 0;
  padding-left: 20px;
  padding-top: 3px;
}
.navbar{
  display: flex;
}
.add-note-container{
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}
.notes-container{
  /* margin: 0 auto; */
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.add-button {
  background-color: rgba(233, 206, 0, 0.651);
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 55px;
  margin-left: 550px;
  height: 55px;
}

.delete-button {
  background-color: #ff3636;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff0000;
}

.add-button:hover {
  background-color: #a19900;
}

.notes {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  grid-gap: 50px;
  flex-wrap: wrap;
  /* max-width: 200px; */
}

.note {
  min-width: 150px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 200px;
}

.note:hover{
  box-shadow: 5px 10px #ababab
}

.note h3 {
  margin: 0;
  font-size: 18px;
}

.note p {
  margin: 5px 0;
}
.search-bar-container {
  margin-left: 20%;
  margin-top: 1%;
}

.search-bar-container input[type="text"] {
  padding: 8px;
  width: 585px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.search-bar-container input[type="text"]::placeholder {
  color: #999;
}

.search-bar-container input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}
.Navbarbig{
  display: flex;
  align-items: flex-end;
}
.input-trigger{
  max-width: 600px;
  width: 585px;
}
textarea:focus, input:focus{
    outline: none;
}